.homeContainer {
  display: flex;
  /* flex-direction: row; */
  justify-content: space-around;
}
@media (max-width: 900px) {
  .homeContainer {
    flex-direction: column;
  }
  .ListOfGifs {
    width: initial;
  }
  .category {
    width: initial;
  }
}